
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.firstname %>!</h1>
    <p>
      Your order (#<%= @order.id %>) has successfully been completed! <br>
    </p>
  </body>
</html>